
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}

/*nav*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    z-index: 1000;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: black; 
    padding:7px;
    transition: opacity 0.3s ease-in-out;

}
.fade-in {
    opacity: 1;
}
.download-button {
    background-color: #4CAF50;
    padding: 10px 20px;
    height: 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}
.download-button:hover {
    background-color: #38823b;
}


.navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.profileLogo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform ease-in-out 0.3s;
}
.profileLogo:hover{
    transform: scale(1.5);
}

/*main*/
#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #FFA62F;
}
#page1{
    
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #FFC96F;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #FFE8C8;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #ACD793;
}
#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:   #FFA62F;
}
canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}
#animationCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
#loop{
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    font-family: gilroy;
}
#loop>h1{
    font-weight: 400;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#loop>h1>span{
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
    font-weight: 500;
}
@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}


#page>h3{
    position: absolute;
    top: 55%;
    font-family: gilroy;
    font-weight: 400;
    color: #7c7c7c;
    left: 5%;
}
#page>h4{
    position: absolute;
    top: 62%;
    left: 25%;
    font-family: gilroy;
    font-weight: 500;
}

/*page 1*/
#page1>#right-text{
    position: absolute;
    top: 10%;
    left: 5%;
}

#page1>#right-text>h3{
    font-weight: 400;
    color: #7c7c7c;
}

#page1>#right-text>h1{
    line-height: 1.5;
    font-size: 50px;
}
#page1>#left-text{
    position: absolute;
    top: 15%;
    right: 2%;
}


#page1>#left-text>h1{
    font-size: 50px;
    line-height: 1.5;
}

#heading1{
    color: #ddd;
    text-align: center;
    
}

#aboutSection{
    position: absolute;
    color: #7c7c7c;
    font-size: 100px;
    top: 5%;
    left: 2%;
    
}

.page1Left{
    position: absolute;
    width: 30%;
    height: 60%;
    top: 15%;
    left: 6%;
    background-color: #FFA62F;
    border-radius: 20px;
    transition: transform 0.3s ease;
    
}
.page1Left:hover{
    transform: scale(1.2);
}

.page1Left>h1{
    text-align: center;
    margin-top: 35px;
}
.page1LeftCardBody{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
    margin-top: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(56, 56, 56);
    
}
.page1LeftCardBody>h1{
    text-align: center;
    align-items: center;
    position: relative;
    top: 25%;
    color: #ddd;
    
}
.page1LeftCardBody>ul{
    position: absolute;
    top: 30%;
    left: 5%;
}
.aboutPara>li{
    margin-top: 20px;
    color: #ddd;
}





/*skills*/
#page2>#text1{
    position: absolute;
    top: 35%;
    left: 2%;
}
#page2>#text1>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page2>#text1>h1{
    font-size: 60px;
    line-height: 1.5;
}
#page2>#text2{
    position: absolute;
    top: 10%;
    right: 1%;
    width: 35%;
    flex-wrap: wrap-reverse;
}
#page2>#text2>p{
    color: #7c7c7c;
    font-weight: 400;
}
.education-para{
    color: white;
    text-align: center;
    
}

.educationDiv{
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(56, 56, 56);
    transition: transform 0.3s ease;
}
.educationDiv:hover{
    transform: scale(1.2);
}

.skillsLogo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 2px;

    transition: transform 0.3s ease-in-out;
  }
  .skillsLogo:hover{
    transform: scale(1.5);
  }


/*page 3*/

.page3Left{
    position: absolute;
    width: 30%;
    height: 60%;
    top: 15%;
    left: 6%;
    background-color: #FFA62F;
    border-radius: 20px;
    transition: transform ease 0.3s;
    
}
.page3Left:hover{
    transform: scale(1.1);
}
.page3Left>h1{
    text-align: center;
    margin-top: 35px;
}
.page3LeftCardBody{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
    margin-top: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(56, 56, 56);
    
}
.page3LeftCardBody>h1{
    text-align: center;
    align-items: center;
    position: relative;
    top: 25%;
    color: #ddd;
    
}
.page3LeftCardBody>p{
    text-align: center;
    align-items: center;
    position: relative;
    top: 25%;
    color: #ddd;
}

.contriImg{
    width: 15%;
}
.contriImg>img{
    border-radius: 50%;
    margin-bottom: 75px;
    height: 50px;
    width: 50px;
}
.contributions{
    position: relative;
    width: 100%;
}

.page3Right{
    position: absolute;
    top: 15%;
    right: 2%;
    color: #7c7c7c;
    height: 60%;
    width: 35%;
    z-index: 10;
}






.card {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    height: 50%;
    color: #ddd;
    display: flex;
    justify-content: center;
    margin: 10px;
    transition: transform ease 0.3s;
}
.card:hover{
    transform: scale(1.2);
}

.circle-container {
    position: relative;
    width: 50%;
    height: 100%;
}

.circular-chart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 1;
}

.circle {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s ease;
}

.easy-circle {
    stroke: #3ae374;
}

.medium-circle {
    stroke: #ffc107;
}

.hard-circle {
    stroke: #ff5252;
}

.circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.circle-text h2 {
    margin: 0;
    font-size: 20px;
}

.status {
    color: #3ae374;
}

.difficulty {
    display: flex;
    flex-direction: column;
}

.difficulty-level {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}

.easy {
    color: #3ae374;
}

.medium {
    color: #ffc107;
}

.hard {
    color: #ff5252;
}

.count {
    color: white;
}



.experienceLogo{
    position: absolute;
    top: 15%;
    left: 34%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 1;
}

.page3LeftCardBody>p{
    position: relative;
    top: 90px;
}

.experiencePara{
    position: absolute;
    top: 45%;
    left: 10%;
    width: 90%;
}
.experiencePara>li{
    margin-top: 20px;
    color: #ddd;
}

.yearFont{
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
  }



  

/*page 4 projects*/
#proCardContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.proCard{
    display: inline-block;
    position: relative;
    width: 25%;
    height: 70%;
    margin: 10px;
    transition: transform 0.3s ease;
    top: -3%;
    border-radius: 20px;
}
.proSocials{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}
.proSocials>a>img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 2px;
}
.proSocials>img:hover{
 
transform: scale(1.2);
}

.proCardHeader{
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.proCardHeader>h1{
    text-align: center;
    color: black;
    margin: 30px;
    font-size: 20px;
}
#proCardHeaderSocialNation{
    margin-top: -10px;
    background-color: #51e2f5;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
#proCardHeaderBuyBusy{
    margin-top: -10px;
    background-color: yellowgreen;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
#proCardHeaderAPI{
    margin-top: -10px;
    background-color: rgb(132, 0, 0);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.proCard:hover{
    transform: scale(1.2);
    z-index: 10;  
}
.goto{
    height: 40px;
    width: 40px;
} 
.proImg{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: width 0.3s ease, height 0.3s ease;
    z-index: 3;
    background-color: white;
}

.proCardBody{
    text-align:left;
    padding: 10px;
    transition: all 0.3s ease; 
    background-color: rgb(25, 25, 25);
    position: relative;  
    width: 100%;
    height: 80%; 
    transition: transform 0.3s ease; 
    color: #ddd;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;

}


.proImg:hover{
    height: 200px;
    width: 200px;
    background-color:white;
}

.footerImg>img{
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
    border-radius: 50%;
}
.footerImg>img:hover{
    height: 50px;
    width: 50px;
    transform: scale(1.2);
    border-radius: 50%;
}


#bottomFotter{
    background-color: #2e2e2e;
    color: #ddd;
    line-height: 30px;
    text-align: center;
    padding: 20px;
    height: 20%;
}





